@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  width: 88%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.divfont{
  margin-right: 10%;
}

section div h1 { 
  display: block;
  font-size: 3rem; 
  color: #0e42d3;
  font-weight: bold;
  margin-bottom: 5px;
}
.font-massa{
  font-size: 1.4rem; 
  color: #4a6ac4;
  font-weight: 400;
}

.bg-image{
  background-image: url(../img/funso-principal.png);
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #0035CA;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #0035CA;
  margin: auto;
}
nav .navbar .logo a{
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}

#home, #formularioInteligente{
  background: #fff;
}
#reservas, #contato{
  background: #f2f2f2;
}

#home {
  margin-top: 75px;
  height: calc(100vh - 75px);
}

.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

#formularioInteligente {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#formularioInteligente #form{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 1rem;
  /* background-color: green; */
}

#formularioInteligente #form #title{
  font-size: 1.75rem;
  color: #0033CC;
  font-weight: bold;
}

.pergunta{
  margin-top: 1rem;
  font-size: 1.5rem; 
}

.opcoes{
  font-size: 0.875rem; 
  display: flex;
  gap: 0.5rem;
}

#formularioInteligente label + input {
  margin-left: 0.5rem;
}

#formularioInteligente button {
  padding: 1rem;
  border-radius: 6px;
  background-color: #0033CC;
  transition: 0.2s;
  border: 0;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1.5rem;
}

#formularioInteligente button:hover {
  background-color: #0e4aee;
}

#formularioInteligente #recomendacao {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
}

.aluguel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem; 
  color: #0033CC;
}

.mulher{
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.mulher span { 
  font-size: 2.5rem; 
  color: #0035CA;
  flex-direction: column;
}
/* Estilos para os links */
.mulher a {
  display: flex; /* Define os links como elementos flexíveis */
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza horizontalmente o conteúdo */
  text-align: center; /* Centraliza o texto horizontalmente */
  margin-top: 10px; /* Adiciona um espaço entre o texto e o ícone */
  text-decoration: none; /* Remove a decoração padrão dos links */
}

/* Estilos para os ícones */
.mulher i {
  margin-top: 5px; /* Adiciona um espaço entre o texto e o ícone */
}